In [ ]:
Creating Array in Numpy ---->
* To create array in python using numpy library, use following steps:
    - Import numpy library
    - Using array method, create array of any dimensional
    - Output the array
* elements must be same inside the square brackets ([---])

In [1]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
print(arr)

[1 2 3 4 5 6]

In [ ]:
To access array elements we need index number.
Array element have index number which start from 0 to n-1, where n means total number of element.

In [4]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
print(arr[0])
print(arr[5])
print(arr[-6])
print(arr[-1])

1
6
1
6

In [7]:
import numpy as np
arr=np.array(['Sahil','Siddhant','Sam','Rocky','Leo'], dtype=np.str_)
print(arr[0])
print(arr[4])
print(arr[-5])
print(arr[-1])

Sahil
Leo
Sahil
Leo

In [ ]:
Indexing and Slicing:
    - To access array element we used index number.
    - Array element have index number which start from 0 to n-1, where n means total number of element.
    - Index: It take only one number to get required value.
    - Slicing: It take more than one number to output specific element or set of element.

In [8]:
#indexing
#1d array
import numpy as np
arr=np.array([1,2,3,4,5,6])
print(arr[0])

1

In [15]:
#indexing
#2d array
import numpy as np
arr=np.array([
              [1,2,3],
              [4,5,6]
             ]
            )
print(arr[0,0])   
print(arr[0,1])
print(arr[0,2])

print(arr[1,0])
print(arr[1,1])
print(arr[1,2])

1
2
3
4
5
6

In [ ]:
#ndarray Objects in Numpy ---->
* It is the object of array
* It stand for n-dimensional array
* Stores homogenous elements
* Same data type of element
* Fundamental Data Structure of Numpy
* Powerful & flexible 
* It have different attribute and methods

In [ ]:
import numpy as np
arr = np.array([1,2,3,4,5])
# 'arr' is the variable referencing the ndarray object

In [2]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr.size)

5

In [6]:
import numpy as np
arr = np.array([[1,2,3],
                [4,5,6]])
print(arr.size)

6

In [3]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr.shape)

(5,)

In [7]:
import numpy as np
arr = np.array([[1,2,3],
                [4,5,6]])
print(arr.shape)

(2, 3)

In [4]:
import numpy as np
arr = np.array([1,2,3,4,5])
arr_sum=arr.sum()
print(arr_sum)

15

In [9]:
import numpy as np
arr = np.array([[1,2,3],
                [4,5,6]])
print(arr.sum())

21

In [5]:
import numpy as np
arr = np.array([1,2,3,4,5])
arr_mean=arr.mean()
print(arr_mean)

3.0

In [10]:
import numpy as np
arr = np.array([[1,2,3],
                [4,5,6]])
arr_mean=arr.mean()
print(arr_mean)

3.5

In [11]:
import numpy as np
arr = np.array([[1,2,3],
                [4,5,6]])
print(arr.itemsize)

4

In [ ]:
# Datatypes ----->
To check the data type of a numpy ndarray object, you can use the dtype attritube
* Integer - int8, int16, int32, int64 | dtype=np.int32 or dtype='i'
* Float - float16, float32, float64, float128 | dtype=np.float32 or dtype='f'
* Unsigned integer - uint8, uint16, uint32, uint64 | dtype=np.uint8 or dtype='u'
* Boolean - True, False | dtype=np.bool_ or dtype='b'
* String - 
    - str_method - Fixed-length strings | dtype=np.str_
    - chararray method - Flexible-length strings, store element as byte | dtype=np.chararray
    - character method - It store character as element | dtype=np.character
* Complex - in the form a+bj | dtype=np.complex64

In [12]:
import numpy as np
arr = np.array([1,2,3,4,5,6], dtype='i')
print(arr.dtype)

int32

In [13]:
import numpy as np
arr = np.array([1,2,3,4,5,6], dtype='f')
print(arr.dtype)

float32

In [15]:
import numpy as np
arr = np.array([True, False, True], dtype=np.bool_)
print(arr.dtype)

bool

In [17]:
import numpy as np
arr = np.array(['Sahil', 'Siddhant', 'Rocky'], dtype=np.str_)
print(arr.dtype)

<U8

In [18]:
import numpy as np
arr = np.array(['Sahil', 'Siddhant', 'Rocky'], dtype=np.chararray)
print(arr.dtype)

object

In [19]:
import numpy as np
arr = np.array(['S', 'L', 'R'], dtype=np.character)
print(arr.dtype)

|S1

C:\Users\sahil\AppData\Local\Temp\ipykernel_12988\1460785229.py:2: DeprecationWarning: Converting `np.character` to a dtype is deprecated. The current result is `np.dtype(np.str_)` which is not strictly correct. Note that `np.character` is generally deprecated and 'S1' should be used.
  arr = np.array(['S', 'L', 'R'], dtype=np.character)

In [20]:
import numpy as np
arr = np.array([1+3j, 3+6j, 4+8j], dtype=np.complex64)
print(arr.dtype)

complex64

In [ ]:
# Special Datatype ---->
* timedelta: It is a data type in Numpy that represents the difference between two dates or times. | dtype is timedelta64

* object: It allows for mixed data types in an array, meaning each element can be of a different type

In [23]:
#timedelta
import numpy as np
date1=np.datetime64('2023-07-06')
date2=np.datetime64('2023-07-05')
time_difference=date1-date2
print(time_difference)
print(time_difference.dtype)

1 days
timedelta64[D]

In [26]:
import numpy as np
date1=np.datetime64('2023-07-06 10:30:52')
print(date1)

2023-07-06T10:30:52

In [27]:
#object
import numpy as np
data=np.array([1,'sahil',21.2,[25,45,2]], dtype=object) #Array with mixed data type
print(data)

[1 'sahil' 21.2 list([25, 45, 2])]

In [ ]:
# Data Type Conversion ---->
* int to float:
    ar_float=ar.astype(np.float64)

* float to int:
    ar_int=ar_float.astype(np.int32)

In [28]:
# Data Type Conversion ---->
# int to float:
ar=np.array([5,6,7,8,3])
ar_float=ar.astype(np.float64)
print("Original Array: ",ar)
print("Original Array Data type: ",ar.dtype)
print("New Array: ",ar_float)
print("New Array Data type: ",ar_float.dtype)

Original Array:  [5 6 7 8 3]
Original Array Data type:  int32
New Array:  [5. 6. 7. 8. 3.]
New Array Data type:  float64

In [31]:
# Data Type Conversion ---->
# float to int:
ar_float=np.array([5.5,6.6,7.7,8.8,3.3])
ar_int=ar_float.astype(np.int32)
print("Original Array: ",ar_float)
print("Original Array Data type: ",ar_float.dtype)
print("New Array: ",ar_int)
print("New Array Data type: ",ar_int.dtype)

Original Array:  [5.5 6.6 7.7 8.8 3.3]
Original Array Data type:  float64
New Array:  [5 6 7 8 3]
New Array Data type:  int32